@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606881310267'); /* IE9 */
  src: url('iconfont.eot?t=1606881310267#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABsQAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBTIE6ATYCJAMICwYABCAFhG0HMRvhBcgOJc2WiICBAkBGPDyttfdn584RTarRJYomKiQSIV1oEBsp0L2E/d81/R2jTf0VZdWIFKoC/RxwLiU34JxRFWa6FXr4/GYR9P7+cNr0BTKfN5zG+q21aVIXYDw5oL0xiqxAQm8Yu4nAITwm0DRGEjhdWNuELhlYFYgXVc5BVy4gy1a6LlRrDmaIdxX1dJougDf+/fgXjy6QVAoAVVfP80WY+grCrGKn7MAjxQgStOMVFFgBMnFXm7jQKixqq+bpNlNAlgVfwbLUTWKvemH9daC0DUZU4T2JsPhWn0kgoxvbwLlGzCPdua2jDUySW9qtLvTEVqAFc+C1nfoLOZTFAo7tR1orGtXQZj3yVGSp2EHrzdUt2NSY84X/IFIp338S3qTCVn9sppr1cIr03xDeW+GLHL8TAqxrJht14QmiEw0V+br0DD8THG5+1zKDu39drTaAz7fYKF9Sdtqg6KB+Qmfw40Q923IoAcaUfVFtJtk2cEM1TU2UdE+/+7Gaobu0hXpOZEFSMwqFuhlsJq5ARcsqVNUdQNOyxeMtA5hWkbuBJYcKhF7nkHT7gEKvS2wm3kHFsDeo6o1WaHqIgQtb5kLtOWGY41gk+RpRC7ZFkZn3iPJ1lEtGjmUlnLaNzFPDJBaOFtOLaCGbY4tXluOcU0KZbZIF5Tk0DJs4zNawwMMK504iEqF1bwoXbBN6nGBQDoeKiLwaQlVgs1DanespfX4dkpUYclhLy4B3G2I86vhETFi0B3ZRYfVquZdXPGWyOI6jCIqxmYgFZR4yGGyEUz9Pgwq4MGVEzJEQgZ1oX0V4fZX5dXugCWhTwJmtUHtiFVTNHAAA') format('woff2'),
  url('iconfont.woff?t=1606881310267') format('woff'),
  url('iconfont.ttf?t=1606881310267') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606881310267#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-third-erweima:before {
  content: "\e621";
}

[class^="el-icon-third"], [class*=" el-icon-third"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
